<% layout("/layout/boilerplate") %>

<div id="app" class="">
    <!-- main content here -->

    <!-- hero start -->
<section class="container-fluid" id="heroSection">

    <div class="overlay"></div> <!-- White overlay -->

    <div class="heroContent">

      <div class="container mx-auto text-center">
        <h1 class="fs-2 fw-bold lh-1 text-secondary">Find Your Perfect Space, Sell with Grace</h1>
        <p class="text-secondary">Buy Smart, Sell Fast: Your Trusted Property Partner.</p>
        <div class="">
          <a href="#" class="btn btn-primary">Start Now</a>
        </div>
      </div>

     <!--  <div class="col-lg-5 offset-lg-1 p-0 overflow-hidden hero-img">
          <img src="https://res.cloudinary.com/dymfsdc1w/image/upload/v1707550360/property/Untitled_design-removebg-preview__1_-removebg-preview_1_1_ztxzqs.png" alt="" width="720">
      </div> -->
   
    </div>

</section>
    <!-- hero end -->
    <div class="waves" >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#242731" fill-opacity="1" d="M0,288L80,250.7C160,213,320,139,480,122.7C640,107,800,149,960,170.7C1120,192,1280,192,1360,192L1440,192L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
    </div>

    <div id="search-section" class="container w-50 mx-auto">
        <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Search by location..." >
      </div>
      <div class="col-md-5">
        <button type="button" class="btn btn-primary btn-sm">Get Result</button>
      </div>
    </div>


    </div>

    <!-- about start -->
      <!-- testimonials section starts -->
     <section class="container about" id="about">
        <div class="row">
            <div class="row">
                <div class="col-sm-5">
                    
                </div>
                <div class="col-sm-6">
                    <h1 class="section-heading" style="text-align: left;">Our Property Journey Starts Here</h1>
                </div>

            </div>

            <div class="row feedback-overview justify-content-center"> 
                <div class="col-sm-6">

                    <div class="" >
                     <img src="https://res.cloudinary.com/dymfsdc1w/image/upload/v1707550360/property/Untitled_design-removebg-preview__1_-removebg-preview_1_1_ztxzqs.png" alt="about" class="img-fluid">
                  </div>

                    <div class="text-center pt-2">
                        <div class="show-rate-box text-center">
                        <div>3000 +</div>
                         <div> Happy Buyers & Sellers </div>

                        </div>

                    </div>

                </div>
            
            <div class="col-sm-6">
 
                <p class="text-para">
                    At Mansionify, we are passionate about simplifying the journey of buying and selling properties. Our platform is more than just a marketplace; it's a community built on trust, transparency, and innovation. As seasoned professionals in the real estate industry, we understand the complexities involved in property transactions, which is why we're dedicated to providing you with a seamless experience from start to finish.

We believe in empowering our users to make informed decisions by offering comprehensive resources, personalized support, and cutting-edge technology. Whether you're a first-time buyer searching for your dream home or a seasoned investor looking to expand your portfolio, we're here to guide you every step of the way.
                </p>

            </div>


            </div>
            
        </div>

        
     </section>
     <!-- testimonials section ends -->
     <!-- about ends -->
     
     
     <!-- features section starts -->
     <section class="container" id="features">
         <h1 class="section-heading">Services</h1>
         <div class="">
             <div class="d-flex flex-wrap gap-1 justify-content-center align-items-center">
                 <div class="feature-box d-flex flex-column align-items-center justify-content-center">
                     <div class="feature-img"><i class="bi bi-calendar-check"></i></div>
                     <div class="fw-bold service-tag">Property Listings</div>
                     <p class="service-para">Explore a vast array of properties tailored to your preferences, from cozy apartments to luxurious estates, all conveniently listed on our platform.</p>
                    </div>
                    
                    <div class="feature-box d-flex flex-column align-items-center justify-content-center">
                        <div class="feature-img"><i class="bi bi-calendar-check"></i></div>
                        <div class="fw-bold service-tag">Expert Guidance</div>
                        <p class="service-para"> Benefit from personalized guidance and support from seasoned real estate professionals who are dedicated to helping you navigate the market with confidence.</p>
                    </div>
                    
                    <div class="feature-box d-flex flex-column align-items-center justify-content-center">
                        <div class="feature-img"><i class="bi bi-calendar-check"></i></div>
                        <div class="fw-bold service-tag">Secure Transactions</div>
                        <p class="service-para">Enjoy peace of mind with our secure transaction process, ensuring that your buying or selling experience is safe, transparent, and hassle-free.</p>
                    </div>
                    
                    <div class="feature-box d-flex flex-column align-items-center justify-content-center">
                        <div class="feature-img"><i class="bi bi-calendar-check"></i></div>
                        <div class="fw-bold service-tag">Innovative Tools:</div>
                        <p class="service-para">Access cutting-edge technology and innovative tools designed to streamline your property journey, from virtual tours to interactive maps, making your experience both efficient and enjoyable</p>
                    </div>
                    
                </div>
                
            </div>

        </section>
        
        <!-- features section ends -->
        
        
        <!-- templates section starts -->
        <section class="container" id="themes">
            <h1 class="section-heading">Dive into properties</h1>
            <p class="text-center" style="margin-top: -30px;">Wide range of properties </p>
            <div class="">
                <div class="">
                    <ul class="nav nav-pills d-flex justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" id="section1-tab" data-bs-toggle="pill" href="#section1">Pune</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="section2-tab" data-bs-toggle="pill" href="#section2">Benglore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="section3-tab" data-bs-toggle="pill" href="#section3">Mumbai</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="section3-tab" data-bs-toggle="pill" href="#section4">Delhi</a>
                        </li>
                    </ul>
                </div>
                
                <div class="tab-content mt-3">
                    <!-- tab 1 sec starts -->
                    <div class="tab-pane fade show active" id="section1">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                            <div class="col">
                                <div class="card propertiesCard">
                                    <div class="imgdiv">
                                        <img src="https://source.unsplash.com/1ddol8rgUH8" class="card-img-top" alt="...">
                                        <div class="priceandarea">
                                            <span class="d-block">$300,000</span>
                                            <span class="d-block">2,000 sqft</span>
                                        </div>
                                        <div class="property-tag"><span>Exclusive</span></div>
                                        
                                        <div class="content-details fadeIn-right">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.95947869728!2d73.82279317393844!3d18.62089226610462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b85fd39871c7%3A0x73a030f1462069e5!2sYCM%20Rd%2C%20Pimpri-Chinchwad%2C%20Maharashtra!5e0!3m2!1smr!2sin!4v1707564466953!5m2!1smr!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="card-body">
                                        <h5 class="card-title">123 Main Street, Anytown, USA</h5>
                                        <p class="card-text">Charming single-family home located in a quiet neighborhood, close to schools and parks.</p>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="col">
                                <div class="card propertiesCard">
                                    <div class="imgdiv">
                                        <img src="https://source.unsplash.com/1ddol8rgUH8" class="card-img-top" alt="...">
                                        <div class="priceandarea">
                                            <span class="d-block">$400,000</span>
                                            <span class="d-block">2,500 sqft</span>
                                        </div>
                                        <div class="property-tag"><span>Featured</span></div>
                                        
                                        <div class="content-details fadeIn-right">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.95947869728!2d73.82279317393844!3d18.62089226610462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b85fd39871c7%3A0x73a030f1462069e5!2sYCM%20Rd%2C%20Pimpri-Chinchwad%2C%20Maharashtra!5e0!3m2!1smr!2sin!4v1707564466953!5m2!1smr!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="card-body">
                                        <h5 class="card-title">456 Oak Avenue, Suburbia, USA</h5>
                                        <p class="card-text">Modern townhouse featuring spacious living areas, a gourmet kitchen, and a backyard patio for entertaining.</p>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="col">
                                <div class="card propertiesCard">
                                    <div class="imgdiv">
                                        <img src="https://source.unsplash.com/1ddol8rgUH8" class="card-img-top" alt="...">
                                        <div class="priceandarea">
                                            <span class="d-block">$250,000</span>
                                            <span class="d-block">1,200 sqft</span>
                                        </div>
                                        <div class="property-tag"><span>Exclusive</span></div>
                                        
                                        <div class="content-details fadeIn-right">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.95947869728!2d73.82279317393844!3d18.62089226610462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b85fd39871c7%3A0x73a030f1462069e5!2sYCM%20Rd%2C%20Pimpri-Chinchwad%2C%20Maharashtra!5e0!3m2!1smr!2sin!4v1707564466953!5m2!1smr!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                              </div>

                            </div>
                          
                            <div class="card-body">
                            <h5 class="card-title">789 Maple Drive, Metropolis, USA</h5>
                            <p class="card-text"> Stylish condominium with updated appliances, hardwood floors, and access to community amenities such as a pool and fitness center.</p>
                        </div>
                    </div>
                    
                </div>
                
                
            </div>
            
            <!-- <div class="text-center"> <a href="#" class="btn btn-primary">Explore</a> </div> -->
            
        </div> 
        <!-- tab 1 sec ends -->
        
        <!-- tab 2 sec starts -->
        
        <!-- tab 2 sec ends -->
        
        <!-- tab 3 sec starts -->
        
        <!-- tab 3 sec ends -->
        
        <!-- tab 4 sec starts -->
        
        <!-- tab 4 sec ends -->
        
    </div>
    
    
    
</div>

</section>

<!-- templates section ends -->





<!-- faq section starts -->
<section class="container">
    <h1 class="section-heading"> FAQ </h1>
    
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    What should I consider before buying a property?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Before buying a property, consider factors such as location, budget, property size, amenities, nearby facilities (schools, hospitals, shopping centers), neighborhood safety, and future resale value.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    How can I determine the fair market value of a property?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Fair market value can be determined by analyzing recent sales of similar properties in the area, conducting a comparative market analysis (CMA), hiring a professional appraiser, and considering market trends and conditions.</div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    What documents do I need to provide when selling a property?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> Documents needed for selling a property include proof of ownership (title deed), property tax records, mortgage documents (if applicable), property disclosure statements, home inspection reports, and any relevant legal documents.
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    How can I improve the curb appeal of my property before selling it?
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Enhance curb appeal by landscaping the front yard, painting the exterior, repairing any visible damages, cleaning windows and pathways, updating exterior lighting, and adding welcoming elements such as a new mailbox or house numbers.</div>
            </div>
        </div>
        
        
    </div>
    
</section>
<!-- faq section ends -->


<!-- contact section starts -->
<section class="container-fluid contact" id="contact">
    
    
    
    <div class="row justify-content-center contact-row">
        <div class="col-sm-5 contact-col-1">
            <h3 class="mb-4">Send us a message</h3>
            
            
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" id="fullName" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="message" rows="4" placeholder="Your Message"></textarea>
                </div>
                <div class="text-center"> <a href="#" class="btn btn-secondary">Send</a> </div>
            </form>

        </div>

            <div class="col-sm-4 contact-col-2">
                
                <h3 class="mb-4 text-primary">Contact Us</h3>
                
                <div class="d-flex align-items-center mb-2">
                    <div class="contact-icon"> <i class="bi bi-geo-alt-fill"></i> </div>
                        <div class="contact-text"> Sadashiv Peth, Pune </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="contact-icon"> <i class="bi bi-telephone-forward-fill"></i> </div>
                        <div class="contact-text"> +91 9987652020 </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="contact-icon"> <i class="bi bi-envelope-at-fill"></i> </div>
                        <div class="contact-text"> esubhlekha.gmail.com </div>
                    </div>
                    
                </div>
                
            </div>
            
            
        </section>
        <%- include("../include/footer.ejs") %>
    </div>