<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        Please enter your adhaar no
        <input type="number" maxlength="12" minlength="12" name="aadhaar" required>
        <button>Submit</button>
    </form>
</body>
</html>