<% layout("/layout/boilerplate") %>

<div class="container11">
    <div class="img">

        <img
            src="/img/login1.png">
    </div>
    <div class="login-content">
        <form action="/login" method="post">
            <img src="/img/profile.png">
            <h2 class="title" style="color: white;">Welcome</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Username</h5>
                    <input type="text" class="input" name="username">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Password</h5>
                    <input type="password" class="input" name="password">
                </div>
            </div>
            <a href="/signup">Sign Up?</a>
            <input type="submit" class="btn" value="Login">
        </form>
    </div>
</div>


<!-- <body>
    <h1>Welcome to our website. Please enter your details below!!</h1>
    <div class="container">
        <form action="/login" method="post">
            Username:<input type="text" name="username"> <br>
            Password:<input type="text" name="password">
            <button>Submit</button>
        </form>
        Do you want to create an account?
        <button><a href="/signup">Please Click Here</a></button>
    </div>
    

</body>
</html> -->
